/* This file will hold styles that are loaded using the same media query as the wide grid. */




//Wide

h1 { font: 48px 'ArvoRegular',Arial,sans-serif; }
h2, h2.block-title { font: 36px 'ArvoRegular',Arial,sans-serif; }
h3{ font: 30px 'ArvoRegular', Arial, sans-serif; }

#projects-realised .illustration,
#projects-realised .sub-info { height: 440px; }